$color-primary: #d3ab55;
$color-secondary: #bbb;
$color-white: #fff;
$color-black: #000;

//fonts
$dancing: 'Dancing Script',
cursive;
$josefin: 'Josefin Sans',
sans-serif;

//brakepoint

$brakepoint: ('xs': 575px,
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
);