* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 64rem;
  margin: 0 auto;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(#3498db), to(#4834d4));
  background: linear-gradient(#3498db, #4834d4);
  height: 100vh;
}

.header-content .navigation {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-content .navigation .logo {
  margin-left: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content .navigation .logo img {
  width: 100%;
  height: auto;
  max-width: 3.75rem;
}

.header-content .navigation .burger {
  height: 100%;
  margin-right: 0.625rem;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content .navigation .burger-line {
  width: 2.5rem;
  height: 0.125rem;
  background-color: #fff;
}

.header-content .navigation .burger .line2 {
  margin: 0.5rem 0;
}

.header-content_text {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content_text h1 {
  text-transform: uppercase;
  letter-spacing: 0.625rem;
  padding-bottom: 1.25rem;
  font-size: 3.125rem;
}

.header-content_text p {
  padding-bottom: 1.875rem;
  max-width: 31.25rem;
  text-align: center;
  font-size: 1.0625rem;
  color: #fff;
  line-height: 160%;
  letter-spacing: 0.0625rem;
}

.header-content_text a {
  color: #fff;
  border: solid 2px #000;
  padding: 0.75rem 1.625rem;
}

.whatwedo {
  padding: 6.25rem 0;
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  max-width: 64rem;
  margin: 0 auto;
  grid-gap: 1.25rem;
  text-align: center;
}

.whatwedo-info_logo .icon {
  border: solid 1px #000;
  border-radius: 50%;
  padding: 1.5625rem;
  font-size: 1.875rem;
}

.whatwedo-info_heading {
  padding: 1.5625rem;
  text-transform: capitalize;
}

.whatwedo-info_paragraph {
  font-weight: 500;
  line-height: 150%;
}
/*# sourceMappingURL=main.css.map */