.btn-main {
    @include font($family: $josefin, $size: 17);
    text-transform: uppercase;
    letter-spacing: px-rem(1);
    color: $color-primary;
    display: inline-block;
    border: 1px solid $color-primary;
    padding: px-rem(13) px-rem(20);
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $color-primary;
        color: $color-black;
    }
}

.burger-menu {
    position: absolute;
    top: px-rem(10);
    right: px-rem(10);
    width: px-rem(100);
    height: px-rem(100);
    background-color: $color-primary;
    z-index: 300;

    .menu {
        display: flex;
        justify-content: space-between;

        &-line {}
    }
}