* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navbar {
  position: relative;
  z-index: 200;
}

.navbar-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vh;
}

.navbar-navigation-left {
  position: absolute;
  height: 100vh;
  width: 50vw;
  left: -50%;
  background-color: #595959;
  -webkit-transition: left 0.2s cubic-bezier(1, 0, 0, 1);
  transition: left 0.2s cubic-bezier(1, 0, 0, 1);
}

.navbar-navigation-left_img {
  width: 50%;
  height: auto;
  border-radius: 0.625rem;
  opacity: .8;
  position: absolute;
}

.navbar-navigation-left .nav-img-1 {
  top: 10%;
  left: 15%;
}

.navbar-navigation-left .nav-img-2 {
  top: 30%;
  left: 25%;
}

.navbar-navigation-left .nav-img-3 {
  top: 45%;
  left: 35%;
}

.navbar-navigation-right {
  position: absolute;
  position: fixed;
  height: 100vh;
  width: 50vw;
  right: -50%;
  background-color: #404040;
  -webkit-transition: right 0.2s cubic-bezier(1, 0, 0, 1);
  transition: right 0.2s cubic-bezier(1, 0, 0, 1);
}

.navbar-navigation-right .mainnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.navbar-navigation-right .mainnav-item {
  list-style: none;
  margin: 1.25rem 0;
}

.navbar-navigation-right .mainnav-item_link {
  color: #bbb;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 2.1875rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

.navbar-navigation-right .mainnav-item_link:hover {
  letter-spacing: 0.125rem;
  color: #d3ab55;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.header {
  height: 100vh;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url(../images/bg.jpg) center no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../images/bg.jpg) center no-repeat;
  background-size: cover;
}

.header .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  top: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .banner {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 3.125rem 0;
  background-color: gray;
}

.about-us-left {
  width: 50vw;
}

.about-us-left img {
  max-width: 100%;
  height: auto;
  text-align: center;
}

.about-us-right {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn-main {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.0625rem;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  color: #d3ab55;
  display: inline-block;
  border: 1px solid #d3ab55;
  padding: 0.8125rem 1.25rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-main:hover {
  background-color: #d3ab55;
  color: #000;
}

.burger-menu {
  position: absolute;
  top: 3.125rem;
  right: 1.875rem;
  position: fixed;
  z-index: 300;
}

.burger-menu .menu {
  width: 2.8125rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(1, 0, 0, 1);
  transition: -webkit-transform 0.3s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.3s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.3s cubic-bezier(1, 0, 0, 1);
}

.burger-menu .menu-line {
  height: 0.5rem;
  width: 2.8125rem;
  background-color: #000;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.burger-menu .menu .menu-line-1 {
  -webkit-transition: -webkit-transform 0.2s 0.3s;
  transition: -webkit-transform 0.2s 0.3s;
  transition: transform 0.2s 0.3s;
  transition: transform 0.2s 0.3s, -webkit-transform 0.2s 0.3s;
}

.burger-menu .menu .menu-line-2 {
  -webkit-transition: opacity 0.2s 0.3s;
  transition: opacity 0.2s 0.3s;
}

.burger-menu .menu .menu-line-3 {
  -webkit-transition: -webkit-transform 0.2s 0.3s;
  transition: -webkit-transform 0.2s 0.3s;
  transition: transform 0.2s 0.3s;
  transition: transform 0.2s 0.3s, -webkit-transform 0.2s 0.3s;
}

.checkbox:checked ~ .burger-menu .menu {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.checkbox:checked ~ .burger-menu .menu .menu-line-1 {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}

.checkbox:checked ~ .burger-menu .menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .burger-menu .menu .menu-line-3 {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.brand-logo {
  font-size: 4.375rem;
  color: #d3ab55;
  width: 6.875rem;
  height: 6.875rem;
  border: 3px solid #d3ab55;
  border-radius: 50%;
  margin-right: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.brand-name_main {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.125rem;
  font-weight: 300;
  padding: 0.5rem 0;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 0.125rem;
}

.brand-name_sub {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  text-align: center;
  color: #bbb;
  text-transform: uppercase;
  color: #bbb;
  letter-spacing: 0.125rem;
}

.banner-maintitle {
  font-family: "Dancing Script", cursive;
  font-size: 6.25rem;
  font-weight: 300;
  color: #d3ab55;
  margin-bottom: 2.5rem;
}

.banner-subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.75rem;
  font-weight: 300;
  color: #bbb;
  margin-bottom: 5rem;
  text-align: center;
}
