.about-us {
    display: flex;
    width: 100%;
    padding: px-rem(50) 0;
    background-color: lighten($color-black, 50%);

    &-left {
        width: 50vw;

        img {
            max-width: 100%;
            height: auto;
            text-align: center;
        }
    }

    &-right {
        width: 50vw;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
}