// GRID

@mixin grid ($grid-on: grid, $gtc: null, $gtr: null) {
    display: $grid-on;
    grid-template-columns: $gtc;
    grid-template-rows: $gtr;
    @content;
}

//FLEX

@mixin flex ($flex-on: flex, $fdir: null, $jcon: null, $ait: null) {
    display: $flex-on;
    flex-direction: $fdir;
    justify-content: $jcon;
    align-items: $ait;
    @content;
}

// media 

@mixin mq ($break) {
    $value: map-get($brakepoint, $break);
    $sm: map-get($brakepoint, 'sm');

    @if $value < $sm {
        @media (max-width: $value) {
            @content;
        }
    }

    @else {
        @media (min-width: $value) {
            @content;
        }
    }
}

// position

@mixin position ($type: absolute, $width: null, $height: null, $l: null, $t: null, $r: null, $b: null) {
    position: $type;
    width: $width;
    height: $height;
    top: $t;
    left: $l;
    right: $r;
    bottom: $b;
    @content;
}