* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

// reuseable class

.container {
    max-width: px-to-rem(1024);
    margin: 0 auto;
}