* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

// reuseable class

.container {
    max-width: px-to-rem(1024);
    margin: 0 auto;


    @include mq('sm') {
        padding: 0 px-to-rem(10);
    }

    @include mq('med') {
        padding: 0 px-to-rem(15);
    }

    @include mq('lg') {
        padding: 0 px-to-rem(0);
    }
}


// $brakepoint: ('xs': 575px,
//     'sm': 576px,
//     'med': 768px,
//     'lg': 992px,
// );