@import "variables", "function", "mixin", "reset";

// header section

.header {
    background: linear-gradient(#3498db, #4834d4);
    height: 100vh;

    &-content {
        max-width: px-to-rem(1140);
        margin: 0 auto;
    }
}


// whatwedo section

.whatwedo {
    padding: px-to-rem(100) 0;
    background-color: $color-secondary;

    @include grid($gtc: repeat(3, 1fr)) {
        max-width: px-to-rem(1140);
        margin: 0 auto;
        grid-gap: px-to-rem(20);
    }
}