@import "variables", "function", "mixin", "reset";

// header section

.header {
    background: linear-gradient(#3498db, #4834d4);
    height: 100vh;

    &-content {
        .navigation {
            height: 12vh;

            @include flex($jcon: space-between) {
                .logo {
                    margin-left: px-to-rem(10);

                    @include flex($fdir: column, $jcon: center) {
                        img {
                            width: 100%;
                            height: auto;
                            max-width: px-to-rem(65);
                        }
                    }
                }

                .burger {
                    height: 100%;
                    margin-right: px-to-rem(10);

                    @include flex($fdir: column, $jcon: center) {
                        &-line {
                            width: px-to-rem(45);
                            height: px-to-rem(3);
                            background-color: #fff;
                        }
                    }


                    .line2 {
                        margin: px-to-rem(8) 0;
                    }
                }
            }
        }
    }
}


// whatwedo section

.whatwedo {
    padding: px-to-rem(100) 0;
    background-color: $color-secondary;

    @include grid($gtc: repeat(3, 1fr)) {
        max-width: px-to-rem(1140);
        margin: 0 auto;
        grid-gap: px-to-rem(20);
        text-align: center;
    }
}